{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- Categories -->
              <div class="col-md-6 col-sm-12 col-xl-3">
                <div class="card daily-sales">
                  <div class="card-block">
                    <h6 class="mb-4">Categories</h6>
                    <div class="row d-flex align-items-center">
                      <div class="col-9">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0">
                          <i
                            class="feather icon-box text-c-green f-30 m-r-10"
                          ></i
                          >249
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Vendors -->
              <div class="col-md-6 col-sm-12 col-xl-3">
                <div class="card Monthly-sales">
                  <div class="card-block">
                    <h6 class="mb-4">Vendors</h6>
                    <div class="row d-flex align-items-center">
                      <div class="col-9">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0">
                          <i
                            class="feather icon-users text-c-red f-30 m-r-10"
                          ></i
                          >2
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Products -->
              <div class="col-md-6 col-sm-12 col-xl-3">
                <div class="card yearly-sales">
                  <div class="card-block">
                    <h6 class="mb-4">Products</h6>
                    <div class="row d-flex align-items-center">
                      <div class="col-9">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0">
                          <i
                            class="feather icon-airplay text-c-green f-30 m-r-10"
                          ></i
                          >8
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
               
                <!-- Assets -->
                <div class="col-md-6 col-sm-12 col-xl-3">
                    <div class="card yearly-sales">
                      <div class="card-block">
                        <h6 class="mb-4">Assets</h6>
                        <div class="row d-flex align-items-center">
                          <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">
                              <i
                                class="feather icon-list text-c-green f-30 m-r-10"
                              ></i
                              >12
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                <!--[ year  sales section ] end-->
                <!--[ Recent Users ] start-->
                <div class="col-xl-12 col-md-12">
                  <div class="card Recent-Users">
                    <div class="card-header">
                      <h5>Recent Registered Assets</h5>
                    </div>
                    <div class="card-block px-0 py-3">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr class="unread">
                              <td>
                                <img
                                  class="rounded-circle"
                                  style="width: 40px"
                                  src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg"
                                  alt="activity-user"
                                />
                              </td>
                              <td>
                                <h6 class="mb-1">Isabella Christensen</h6>
                                <p class="m-0">Lorem Ipsum is simply…</p>
                              </td>
                              <td>
                                <h6 class="text-muted">
                                  <i
                                    class="fas fa-circle text-c-green f-10 m-r-15"
                                  ></i
                                  >11 MAY 12:56
                                </h6>
                              </td>
                              <td>
                                <a
                                  href="#!"
                                  class="label theme-bg2 text-white f-12"
                                  >Reject</a
                                ><a
                                  href="#!"
                                  class="label theme-bg text-white f-12"
                                  >Approve</a
                                >
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- [ Main Content ] end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}
</div>
