{% extends "layouts/base.html" %} {% block title %} Profile {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <h5>Edit Info</h5>
                  </div>
                  <div class="card-block">
                    <div class="row">
                      <div class="col-sm-6 mb-4">
                        <div class="form-group">
                          <label for="exampleInputUsername">Full Names</label>
                          <input
                            class="form-control"
                            id="exampleInputUsername"
                            value="{{ current_user.user_fullname }}"
                            aria-describedby="userHelp"
                            placeholder="Enter email"
                          />
                        </div>
                      </div>
                      <div class="col-sm-6 mb-4">
                        <div class="form-group">
                          <label
                            {%
                            if
                            not
                            current_user.user_email
                            %}
                            class="text-danger"
                            {%
                            endif
                            %}
                            for="exampleInputEmail1"
                            >Email address</label
                          >
                          <input
                            type="email"
                            {%
                            if
                            current_user.user_email
                            %}
                            value="{{ current_user.user_email }}"
                            {%
                            endif
                            %}
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Enter email"
                          />
                          {% if not current_user.user_email %}
                          <small id="emailHelp" class="form-text text-danger">
                            You don't have an email address associated with this
                            account.
                          </small>
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-sm-12 mb-4">
                        <div class="form-group">
                          <label for="fn">Phone Number</label>
                          <input
                            class="form-control"
                            id="exampleInputUsername"
                            value="{{ current_user.user_phone_number }}"
                            aria-describedby="userHelp"
                            placeholder="Enter email"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 mb-2">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <h5>Update Passwords</h5>
                  </div>
                  <div class="card-block">
                    <div class="row">
                      <div class="col-sm-12 mb-4">
                        <div class="form-group">
                          <label for="exampleInputUsername">New Password</label>
                          <input
                            type="password"
                            class="form-control"
                            id="exampleInputUsername"
                            aria-describedby="userHelp"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 mb-4">
                        <div class="form-group">
                          <label for="fn">Confirm Password</label>
                          <input
                            type="password"
                            class="form-control"
                            id="exampleInputUsername"
                            aria-describedby="userHelp"
                          />
                        </div>
                      </div>
                      <div class="col-sm-12 mb-2">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
